 .container{
display: flex;
flex-direction: column;
min-height: 100vh;
background-image: linear-gradient(aqua, yellow);
flex-shrink: 0;
 
  
 }
 
 

.back{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
 
  
}

.image{
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-wrap: wrap;
  width: 100vw;
  min-width: 25vw;
}

.form{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
ul{
  background-color: green ;
  display: flex;
  justify-content: space-around;

}

li{
  list-style-type:none;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}
#info{
  text-decoration: none;
  color: #B8860B;
}

#info:hover{
  background-color: #787878;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}
.footer{
  display: flex;
  flex-direction: column;
}
 
#foot{
  color: white;
}
 
 

 